.headshot{
    position: relative;
    display: block;
    width: 30%;
    height: auto;
    min-height: 50vh;
    margin: auto;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.info{
    position: relative;
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    font-size: 20px;
}

@media (max-width: 600px){
    .headshot{
        width: 70%;
        height: auto;
    }
}