.container {
  display: flex;
  width: auto;
  padding-inline-start: 2%;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: left;
  min-height: 100vh;
  margin-inline: 1% 1%;
}


.intro {
  margin-inline-start: 3%;
  margin-inline-end: 10%;
  width: 100%;
  min-height: 100%;
  font-size: 24px;
  /* background-color: white; */
  border-radius: 15px;
  margin: 3% 10% 3% 3%;
  padding-inline: 2%;
  color: rgb(231, 231, 231);
  letter-spacing: 2px;
}

.navTitle {
  width: 4%;
}

.link {
  margin-inline: 5px;
  /* color: rgb(218, 218, 218); */
  color: var(--accent-color);
  text-decoration: none;
  padding: 10px 5px;
  border: var(--border-size) hidden;
}

.link:hover {
  /* color: white; */
  /* Posx Posy Blur Spread */
  box-shadow: 0px 0px 5px 5px var(--accent-color);
  margin-inline: calc(5px);
  border-radius: 7px;
  transition: all 0.3s ease-in;
}

.row{
  position: relative;
  display: flex;
  flex-direction: row;
}

.car_container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 50%;
  margin: 4% 3% auto auto;
  background-color: rgba(0, 0, 0, 0.708);
  aspect-ratio: 16/9;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;


  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.car_image {
  flex: 1 0 95%;
  height: 70%;
  background-color: rgb(148, 148, 148);
  border: 5px solid gray;
  border-radius: 15px;
  margin: auto;
  margin-top: 3%;
  margin-inline: 5%;

  scroll-snap-align: center;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.carousel::-webkit-scrollbar-track {
  background: #b1b3b399;
}


.scroll_btn{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 60px;
  font-weight: 700;
  opacity: 0.4;
  height: 8rem;
  width: 3rem;
  background-color: gray;
  border: none;
  cursor: pointer;
  color: white;
}

.scroll_btn:hover{
  opacity: 0.8;
}

.next_btn {
  right: 0;
  border-radius: 2rem 0 0 2rem;
}

.prev_btn {
  left: 0;
  border-radius:  0 2rem 2rem 0;
}

.examples > a{
  color: var(--accent-color);
}

.examples > a:hover{
  color: white;
}


@media (max-width: 700px) {
  .row{
    flex-direction: column;
    justify-content: center;
  }
  .car_container{
    position: relative;
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
  }

  .car_image{
    width: 95%;
    aspect-ratio: 16/9;
    margin: 4% 5%;
  }

  .container{
    display: block;
    width: 95%;
    height: auto;
    font-size: 18px;
    /* margin: 0; */
    padding: 0;
  }

  .intro {

    margin-inline: 3%;
    flex: 1 0 90%;
    min-height: 100%;
    font-size: 17px;
    padding: 0;
    text-align: center;
    /* margin: 3%; */
  }

  .scroll_btn{
    font-size: 30px;
    height: 4rem;
    width: 2rem;
  }


}